body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 500px;
    max-width: 90%;
}

h1 {
    margin-bottom: 30px;
    font-size: 2em;
    text-align: center;
}

label {
    display: block;
    margin: 15px 0 10px;
    font-weight: bold;
}

select, textarea, button {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

button {
    background-color: #28a745; /* Green color */
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838; /* Darker green color for hover */
}
